In [1]:
import  numpy as np 
import  pandas as pd

In [2]:
df=pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
df['Residence_type'].unique()

array(['Urban', 'Rural'], dtype=object)

In [4]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan,
                        strategy ='mean')
imputer = imputer.fit(df[['bmi']])
 
# Imputing the data    
df['bmi'] = imputer.transform(df[['bmi']])
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [5]:
#label encoding
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

#for Residence_type column
df['Residence_type']=lb.fit_transform(df['Residence_type'])


#for  smoking_status  column
df['smoking_status']=lb.fit_transform(df['smoking_status'])


#for ever_married column
df['ever_married']=lb.fit_transform(df['ever_married'])

#for ever_married column
df['gender']=lb.fit_transform(df['gender'])


#for work_type column

df['work_type']=lb.fit_transform(df['work_type'])
df['work_type'].unique()


#for  hypertension  column  
df['hypertension']=lb.fit_transform(df['hypertension'])
df['hypertension'].unique()

array([0, 1], dtype=int64)

In [6]:
df['Residence_type'].unique()

array([1, 0])

In [7]:
X=df[['gender','age','hypertension','ever_married','work_type','avg_glucose_level','bmi','smoking_status']]
Y=df[['stroke']]

In [8]:
from  sklearn.model_selection  import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3)
x_train

,gender,age,hypertension,ever_married,work_type,avg_glucose_level,bmi,smoking_status
3887,1,20.00,0,0,2,87.20,28.900000,3
4124,0,25.00,0,1,2,78.50,28.600000,2
2030,1,0.48,0,0,4,73.02,28.893237,0
3434,1,14.00,0,0,3,72.28,19.000000,0
4402,1,34.00,0,1,2,83.75,37.000000,2
...,...,...,...,...,...,...,...,...
1943,1,34.00,0,0,2,69.09,36.900000,1
1947,0,25.00,0,0,2,65.95,35.000000,2
643,0,80.00,0,1,3,79.09,22.800000,2
3355,1,23.00,0,0,2,67.76,26.000000,2
2452,0,19.00,0,0,0,133.58,24.000000,2

In [9]:
from sklearn.linear_model  import LogisticRegression
model=LogisticRegression()

In [10]:
model.fit(x_train,y_train)

c:\Users\slrk4\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\slrk4\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [11]:
#[[1,67.0,0,1,0,93.71,31.200000,1]]
y_pred=model.predict(x_test)

In [12]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9497716894977168

In [13]:
import pickle

In [14]:
with  open('stroke_model','wb') as f:
    pickle.dump(model,f)

In [15]:
f= open('stroke_model','rb') 
mp=pickle.load(f)

In [16]:
 ans=mp.predict([[1,67.0,0,1,0,93.71,31.200000,1]])
print(ans[0])

0

c:\Users\slrk4\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(